<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>guide</title>
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="../assets/css/common.css">
  <script src="../assets/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/front.js"></script>
</head>
<body>
  <div class="wrap">
    <header id="header"></header>
    <div id="container">
      <div class="content">
        <div class="ttl_page">
          <h2 class="h2">Accordion & Toggle</h2>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">Accordion</h3>
          </div>
          <ul class="acd_wrap" data-role="accordion-group">
            <li class="on">
              <div class="acd_ttl"><button type="button" class="ttl" aria-expanded="true" id="acdttl_1" aria-controls="acdpanel_1">제목 1</button></div>
              <div class="acd_panel" role="region" id="acdpanel_1" aria-labelledby="acdttl_1">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
            <li>
              <div class="acd_ttl"><button type="button" class="ttl" aria-expanded="false" id="acdttl_2" aria-controls="acdpanel_2">제목 2</button></div>
              <div class="acd_panel" role="region" id="acdpanel_2" aria-labelledby="acdttl_2">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
            <li>
              <div class="acd_ttl"><button type="button" class="ttl" aria-expanded="false" id="acdttl_3" aria-controls="acdpanel_3">제목 3</button></div>
              <div class="acd_panel" role="region" id="acdpanel_3" aria-labelledby="acdttl_3">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
          </ul>
        </div>


        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">Toggle (accordion-option="toggle")</h3>
          </div>
          <ul class="acd_wrap" data-role="accordion-group" accordion-option="toggle">
            <li class="on">
              <div class="acd_ttl"><button type="button" class="ttl" aria-expanded="true" id="acdttl2_1" aria-controls="acdpanel2_1">제목 1</button></div>
              <div class="acd_panel" role="region" id="acdpanel2_1" aria-labelledby="acdttl2_1">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
            <li>
              <div class="acd_ttl"><button type="button" class="ttl" aria-expanded="false" id="acdttl2_2" aria-controls="acdpanel2_2">제목 2</button></div>
              <div class="acd_panel" role="region" id="acdpanel2_2" aria-labelledby="acdttl2_2">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
            <li>
              <div class="acd_ttl"><button type="button" class="ttl" aria-expanded="false" id="acdttl2_3" aria-controls="acdpanel2_3">제목 3</button></div>
              <div class="acd_panel" role="region" id="acdpanel2_3" aria-labelledby="acdttl2_3">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
          </ul>
        </div>


        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">제목, 버튼 분리 형</h3>
          </div>
          <ul class="acd_wrap" accordion-option="toggle">
            <li class="on">
              <div class="acd_ttl">
                <div class="ttl">
                  제목 1
                </div>
                <button type="button" class="ico" aria-expanded="true" id="acdttl3_1" aria-controls="acdpanel3_1"></button>
              </div>
              <div class="acd_panel" role="region" id="acdpanel3_1" aria-labelledby="acdttl3_1">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
            <li>
              <div class="acd_ttl">
                <div class="ttl">
                  제목 1
                </div>
                <button type="button" class="ico" aria-expanded="true" id="acdttl3_2" aria-controls="acdpanel3_2"></button>
              </div>
              <div class="acd_panel" role="region" id="acdpanel3_2" aria-labelledby="acdttl3_2">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
            <li>
              <div class="acd_ttl">
                <div class="ttl">
                  제목 1
                </div>
                <button type="button" class="ico" aria-expanded="true" id="acdttl3_3" aria-controls="acdpanel3_3"></button>
              </div>
              <div class="acd_panel" role="region" id="acdpanel3_3" aria-labelledby="acdttl3_3">
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
                <p>콘텐츠 영역</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">single toggle</h3>
          </div>
          <div class="toggle_wrap toggle_notice">
            <button type="button" class="toggle_ttl" aria-expanded="false" aria-controls="toggle_1">이용 전 확인해주세요</button>
            <div class="toggle_panel" role="region" id="toggle_1">
              <ul class="list star">
                <li>월 예상금액으로 매달 1일 ~ 말일동안 이용 시 예상되는 납부액으로 거래 실적에 따라 1개월 단위로 변경 적용됩니다.</li>
                <li>월 중 가입 시 요금이 일할 계산되어 청구됩니다.</li>
              </ul>
            </div>
          </div>

          <div class="toggle_wrap toggle_detail">
            <button type="button" class="toggle_ttl" aria-expanded="false" aria-controls="toggle_1">상세보기</button>
            <div class="toggle_panel" role="region" id="toggle_1">
              <ul class="list star">
                <li>월 예상금액으로 매달 1일 ~ 말일동안 이용 시 예상되는 납부액으로 거래 실적에 따라 1개월 단위로 변경 적용됩니다.</li>
                <li>월 중 가입 시 요금이 일할 계산되어 청구됩니다.</li>
              </ul>
            </div>
          </div>

        </div>
        

      </div>

    </div>
    <footer id="footer"></footer>
  </div>
</body>
</html>