<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>guide</title>
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="../assets/css/common.css">
  <script src="../assets/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/front.js"></script>
</head>
<body>
  <div class="wrap">
    <header id="header"></header>
    <div id="container">

      <div class="content">
        <div class="ttl_page">
          <h2 class="h2">Button</h2>
        </div>
        
        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">default</h3>
          </div>
          <button type="button" class="btn primary lg">button</button>
          <button type="button" class="btn secondary lg">button</button>
          <button type="button" class="btn point lg">button</button>
          <button type="button" class="btn outline lg">button</button>
          <button type="button" class="btn primary lg" disabled>disabled</button>
          <button type="button" class="btn outline lg" disabled>outline disabled</button>
        </div>
        
        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">round</h3>
          </div>
          <button type="button" class="btn primary lg round">button</button>
          <button type="button" class="btn secondary lg round">button</button>
          <button type="button" class="btn point lg round">button</button>
          <button type="button" class="btn outline lg round">button</button>
          <button type="button" class="btn primary lg round" disabled>disabled</button>
          <button type="button" class="btn outline lg round" disabled>outline disabled</button>
        </div>


        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">.btn.lg</h3>
          </div>
          <button type="button" class="btn primary lg">button</button>
          <button type="button" class="btn secondary lg">button</button>
          <button type="button" class="btn point lg">button</button>
          <button type="button" class="btn outline lg">button</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">.btn.md</h3>
          </div>
          <button type="button" class="btn primary md">button</button>
          <button type="button" class="btn secondary md">button</button>
          <button type="button" class="btn point md">button</button>
          <button type="button" class="btn outline md">button</button>
          <button type="button" class="btn primary md" disabled>button</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">.btn.sm</h3>
          </div>
          <button type="button" class="btn primary sm">button</button>
          <button type="button" class="btn secondary sm">button</button>
          <button type="button" class="btn point sm">button</button>
          <button type="button" class="btn outline sm">button</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">.btn.xs</h3>
          </div>
          <button type="button" class="btn primary xs">button</button>
          <button type="button" class="btn secondary xs">button</button>
          <button type="button" class="btn point xs">button</button>
          <button type="button" class="btn outline xs">button</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">text button</h3>
          </div>
          <a href="#none" class="btn_txt link">일반링크</a>
          <a href="#none" class="btn_txt ico_arr">자세히 보기</a>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">btn_group</h3>
          </div>
          <div class="btn_group">
            <button type="button" class="btn primary lg">button</button>
            <button type="button" class="btn secondary lg">button</button>
          </div>
          <div class="btn_group mgt_sm">
            <button type="button" class="btn primary lg">button</button>
          </div>
        </div>

      </div>

    </div>
    <footer id="footer"></footer>
  </div>
</body>
</html>