<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>guide</title>
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="../assets/css/common.css">
  <script src="../assets/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/front.js"></script>
  <style>
    .ttl_page{display:flex; align-items:center; justify-content:space-between;}
    .ttl_page h2{margin-right:auto;}
  </style>
  <script>
    const toggle = function(elem){
      const _this = $(elem);
      const _section = _this.parents(".ttl_page").next(".section");

      ( $(_section).css("display") == "block" ) ? _this.html("열기") : _this.html("닫기");
      ( $(_section).css("display") == "block" ) ? _section.slideUp(100) : _section.slideDown(100);
    }
  </script>
</head>
<body>
  <div class="wrap">
    <header id="header"></header>
    <div id="container">
      <div class="content">
        <div class="ttl_page">
          <h2 class="h2">Form</h2>
        </div>

        
        <div class="ttl_page">
          <h2 class="h2">input</h2>
          <button type="button" class="guide_formbtn btn secondary xs" onclick="toggle(this)">닫기</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">single</h3>
          </div>
          <div class="input">
            <input type="text" title="title" placeholder="힌트텍스트">
            <div class="form_btn">
              <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
              <button type="button" class="btn btn_box">버튼</button>
            </div>
          </div>


          <div class="ttl_sub">
            <h3 class="h3">form group</h3>
          </div>
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">레이블명</div>
              <button type="button" class="btn_txt link">레이블 우측 링크</button>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="title" placeholder="힌트텍스트">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <button type="button" class="btn btn_box">버튼</button>
                  </div>
                </div>
                <div class="form_msg">
                  <p class="tip">안내메세지</p>
                  <p class="error">에러메시지</p>
                  <p class="success">성공메시지</p>
                </div>
              </div>
            </div>
          </div>
          

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">value 있는 상태</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="title" value="가이드" placeholder="힌트텍스트">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">unit</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input unit">
                  <input type="tel" title="이체금액" placeholder="숫자만 입력">
                  <div class="form_btn">
                    <span class="unit">원</span>
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <button type="button" class="btn btn_box">버튼</button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">비밀번호 (required)</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="password" title="title" placeholder="비밀번호를 입력해주세요" required>
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">readonly</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="title" placeholder="힌트텍스트" readonly>
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">disabled</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="title" placeholder="힌트텍스트" disabled>
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
          


          <div class="ttl_sub">
            <h3 class="h3">input component</h3>
          </div>
          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">검색</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="검색어" placeholder="검색어를 입력하세요">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <button type="button" class="btn btn_search"><span class="blind">검색</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">주민등록번호</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="검색어" maxlength="8" placeholder="주민등록번호 앞 8자리">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg">
                  <p class="tip">안내 메세지</p>
                </div>
              </div>
              <div class="space">-</div>
              <div class="form_col">
                <div class="input">
                  <input type="text" title="검색어" maxlength="7" placeholder="주민등록번호 뒤 7자리">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg">
                  <p class="tip">안내 메세지</p>
                </div>
              </div>
            </div>
            <div class="form_msg"></div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">주민등록번호</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="주민등록번호 앞 8자리" maxlength="8" placeholder="주민등록번호 앞 8자리">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
              <div class="space">-</div>
              <div class="form_col">
                <div class="input masking_jumin">
                  <input type="text" title="주민등록 뒷번호 첫번째자리 입력" maxlength="1" placeholder="1">
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
            <div class="form_msg"></div>
          </div>

          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">휴대폰번호</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="휴대폰 번호" maxlength="11" placeholder="01012341234">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">휴대폰번호</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="휴대폰번호 앞자리" maxlength="3" placeholder="010">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
              <div class="space">-</div>
              <div class="form_col">
                <div class="input">
                  <input type="text" title="휴대폰번호 중간자리" maxlength="4" placeholder="1234">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
              <div class="space">-</div>
              <div class="form_col">
                <div class="input">
                  <input type="text" title="휴대폰번호 끝자리" maxlength="4" placeholder="1234">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">휴대폰번호</div>
            </div>
            <div class="form_row">
              <div class="form_col w35">
                <div class="select">
                  <button type="button" class="select_btn" title="010" aria-haspopup="dialog" data-popup="pop_phone" onclick="$popup.open(this)">010</button>
                </div>
              </div>
              <div class="space">-</div>
              <div class="form_col">
                <div class="input">
                  <input type="text" title="휴대폰번호" maxlength="8" placeholder="12341234">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>



          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">이메일 (직접입력)</div>
            </div>
            <div class="form_row">
              <div class="form_col w35">
                <div class="input">
                  <input type="text" title="ID" placeholder="아이디 입력">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
              <div class="space">@</div>
              <div class="form_col">
                <div class="input">
                  <input type="text" title="도메인 직접입력" placeholder="domain.co.kr">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">이메일 (도메인 선택)</div>
            </div>
            <div class="form_row">
              <div class="form_col w35">
                <div class="input">
                  <input type="text" title="ID" placeholder="아이디 입력">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
              <div class="space">@</div>
              <div class="form_col">
                <div class="select">
                  <button type="button" class="select_btn" title="도메인 선택" aria-haspopup="dialog" data-popup="pop_email" onclick="$popup.open(this)">도메인</button>

                </div>
                <div class="form_msg"></div>
              </div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="도메인 직접입력" placeholder="domain.co.kr">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">주소</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="title" placeholder="힌트텍스트">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <butto type="button" class="btn btn_box">주소검색</butto>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="title" placeholder="힌트텍스트">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">날짜</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="날짜선택" placeholder="날짜선택">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <button type="button" class="btn btn_calendar"><span class="blind">날짜선택</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
          
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">기간</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="input">
                  <input type="text" title="날짜선택" placeholder="날짜선택">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <button type="button" class="btn btn_calendar"><span class="blind">날짜선택</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
              <div class="space">~</div>
              <div class="form_col">
                <div class="input">
                  <input type="text" title="날짜선택" placeholder="날짜선택">
                  <div class="form_btn">
                    <button type="button" class="btn btn_clear"><span class="blind">입력내용 초기화</span></button>
                    <button type="button" class="btn btn_calendar"><span class="blind">날짜선택</span></button>
                  </div>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
        </div>




        
        <hr class="hr_divide">

        <div class="ttl_page">
          <h2 class="h2">textarea</h2>
          <button type="button" class="guide_formbtn btn secondary xs" onclick="toggle(this)">닫기</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">single</h3>
          </div>

          <div class="textarea">
            <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1000"></textarea>
          </div>

          <div class="textarea count">
            <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1000">안녕하세요</textarea>
            <!-- <div class="count">
              <span class="num">0</span>
              <span class="total">1,000</span>
            </div> -->
          </div>

          <div class="textarea">
            <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1000" readonly></textarea>
          </div>

          
          <div class="ttl_sub">
            <h3 class="h3">form_group</h>
          </div>
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">textarea</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="textarea count">
                  <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1234"></textarea>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">textarea autoHeight</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="textarea auto_height count">
                  <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1234"></textarea>
                  <button type="button" class="btn btn_confirm">등록</button>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">textarea autoHeight</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="textarea auto_height count">
                  <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="100">내용입력</textarea>
                  <button type="button" class="btn btn_confirm">등록</button>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">textarea readonly</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="textarea count">
                  <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1000" readonly></textarea>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>

          <div class="form_group">
            <div class="form_ttl">
              <div class="label">textarea disabled</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="textarea count">
                  <textarea class="textarea" placeholder="내용을 입력해주세요" maxlength="1000" disabled></textarea>
                </div>
                <div class="form_msg"></div>
              </div>
            </div>
          </div>
        </div>





        <hr class="hr_divide">

        <div class="ttl_page">
          <h2 class="h2">select</h2>
          <button type="button" class="guide_formbtn btn secondary xs" onclick="toggle(this)">닫기</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">select_btn (width popup)</h3>
          </div>
          
          <div class="ttl_sub">
            <h4 class="h4">single</h4>
          </div>
          <div class="select">
            <button type="button" class="select_btn" title="010" aria-haspopup="dialog" data-popup="pop_phone" onclick="$popup.open(this)">010</button>
          </div>
          
          <div class="ttl_sub">
            <h4 class="h4">form_group</h4>
          </div>
          <div class="form_group">
            <div class="form_ttl">
              <div class="label">휴대폰번호</div>
            </div>
            <div class="form_row">
              <div class="form_col">
                <div class="select">
                  <button type="button" class="select_btn" title="010" aria-haspopup="dialog" data-popup="pop_phone" onclick="$popup.open(this)">010</button>
                </div>
              </div>
            </div>
          </div>
        </div>



        

        <hr class="hr_divide">
        
        <div class="ttl_page">
          <h2 class="h2">radio</h2>
          <button type="button" class="guide_formbtn btn secondary xs" onclick="toggle(this)">닫기</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">radio_item dot</h3>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">block (gap_xs)</h4>
          </div>
          <div class="radio_group block gap_xs">
            <div class="radio_item dot">
              <input type="radio" id="radio1" name="dot_group1">
              <label for="radio1">항목1</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radio2" name="dot_group1">
              <label for="radio2">
                <strong>항목2</strong>
              </label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radio3" name="dot_group1">
              <label for="radio3">
                <strong>항목3</strong><br>
                <em>항목 3에 대한 설명입니다.</em>
              </label>
            </div>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">flex (gap_sm)</h4>
          </div>
          <div class="radio_group flex gap_sm">
            <div class="radio_item dot">
              <input type="radio" id="radioDot1_1" name="dot_group2">
              <label for="radioDot1_1">항목1</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot1_2" name="dot_group2">
              <label for="radioDot1_2">항목2</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot1_3" name="dot_group2" disabled>
              <label for="radioDot1_3">비활성화</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot1_4" name="dot_group2" checked disabled>
              <label for="radioDot1_4">비활성화(checked)</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot1_5" name="dot_group2">
              <label for="radioDot1_5"><span class="hidden">단독사용</span></label>
            </div>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">flex col2 (gap_md)</h4>
          </div>
          <div class="radio_group flex col2 gap_md">
            <div class="radio_item dot">
              <input type="radio" id="radioDot3_1" name="dot_group3">
              <label for="radioDot3_1">항목1</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot3_2" name="dot_group3">
              <label for="radioDot3_2">항목2</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot3_3" name="dot_group3">
              <label for="radioDot3_3">항목3</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot3_4" name="dot_group3">
              <label for="radioDot3_4">항목4</label>
            </div>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">flex col3 (gap_lg)</h4>
          </div>
          <div class="radio_group flex col3 gap_lg">
            <div class="radio_item dot">
              <input type="radio" id="radioDot4_1" name="dot_group4">
              <label for="radioDot4_1">항목1</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot4_2" name="dot_group4">
              <label for="radioDot4_2">항목2</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot4_3" name="dot_group4">
              <label for="radioDot4_3">항목3</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot4_4" name="dot_group4">
              <label for="radioDot4_4">항목4</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot4_5" name="dot_group4">
              <label for="radioDot4_5">항목5</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot4_6" name="dot_group4">
              <label for="radioDot4_6">항목6</label>
            </div>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">flex col3 (gap_xl)</h4>
          </div>
          <div class="radio_group flex col4 gap_xl">
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_1" name="dot_group5">
              <label for="radioDot5_1">항목1</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_2" name="dot_group5">
              <label for="radioDot5_2">항목2</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_3" name="dot_group5">
              <label for="radioDot5_3">항목3</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_4" name="dot_group5">
              <label for="radioDot5_4">항목4</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_5" name="dot_group5">
              <label for="radioDot5_5">항목5</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_6" name="dot_group5">
              <label for="radioDot5_6">항목6</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_7" name="dot_group5">
              <label for="radioDot5_7">항목7</label>
            </div>
            <div class="radio_item dot">
              <input type="radio" id="radioDot5_8" name="dot_group5">
              <label for="radioDot5_8">항목8</label>
            </div>
          </div>
          



          <div class="ttl_sub">
            <h3 class="h3">radio_item box</h3>
          </div>
          
          <div class="ttl_sub">
            <h4 class="h4">block</h4>
          </div>
          <div class="radio_group block">
            <div class="radio_item box">
              <input type="radio" id="radioBox1_1" name="box_group1">
              <label for="radioBox1_1">항목1</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox1_2" name="box_group1">
              <label for="radioBox1_2">항목2</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox1_3" name="box_group1" disabled>
              <label for="radioBox1_3">비활성화</label>
            </div>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">flex col2</h4>
          </div>
          <div class="radio_group flex col2">
            <div class="radio_item box">
              <input type="radio" id="radioBox2_1" name="box_group2">
              <label for="radioBox2_1">항목1</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox2_2" name="box_group2">
              <label for="radioBox2_2">항목2</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox2_3" name="box_group2">
              <label for="radioBox2_3">항목3</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox2_4" name="box_group2">
              <label for="radioBox2_4">항목4</label>
            </div>
          </div>


          <div class="ttl_sub">
            <h4 class="h4">flex col3 (gap_xs)</h4>
          </div>
          <div class="radio_group flex col3 gap_xs">
            <div class="radio_item box">
              <input type="radio" id="radioBox3_1" name="box_group3">
              <label for="radioBox3_1">항목1</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox3_2" name="box_group3">
              <label for="radioBox3_2">항목2</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox3_3" name="box_group3">
              <label for="radioBox3_3">항목3</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox3_4" name="box_group3">
              <label for="radioBox3_4">항목4</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox3_5" name="box_group3">
              <label for="radioBox3_5">항목5</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox3_6" name="box_group3">
              <label for="radioBox3_6">항목6</label>
            </div>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">flex col4 (gap_sm)</h4>
          </div>
          <div class="radio_group flex col4 gap_sm">
            <div class="radio_item box">
              <input type="radio" id="radioBox4_1" name="box_group4">
              <label for="radioBox4_1">항목1</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_2" name="box_group4" disabled>
              <label for="radioBox4_2">항목2</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_3" name="box_group4">
              <label for="radioBox4_3">항목3</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_4" name="box_group4">
              <label for="radioBox4_4">항목4</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_5" name="box_group4">
              <label for="radioBox4_5">항목5</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_6" name="box_group4">
              <label for="radioBox4_6">항목6</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_7" name="box_group4">
              <label for="radioBox4_7">항목7</label>
            </div>
            <div class="radio_item box">
              <input type="radio" id="radioBox4_8" name="box_group4">
              <label for="radioBox4_8">항목8</label>
            </div>
          </div>



          
          <div class="ttl_sub">
            <h3 class="h3">radio_group etc</h3>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">class="radio_group {class명}"</h4>
          </div>
          <div class="radio_group type_check">
            <div class="radio_item">
              <input type="radio" id="radioEtc1_1" name="etc_group1">
              <label for="radioEtc1_1"><span>번호이동</span></label>
            </div>
            <div class="radio_item">
              <input type="radio" id="radioEtc1_2" name="etc_group1">
              <label for="radioEtc1_2"><span>신규가입</span></label>
            </div>
            <div class="radio_item">
              <input type="radio" id="radioEtc1_3" name="etc_group1">
              <label for="radioEtc1_3"><span>번호이동</span><em>신규가입 설명</em></label>
            </div>
            <div class="radio_item">
              <input type="radio" id="radioEtc1_4" name="etc_group1">
              <label for="radioEtc1_4"><span>신규가입</span><em>신규가입 설명</em></label>
            </div>
          </div>
        </div><!-- radio-->





        <hr class="hr_divide">

        <div class="ttl_page">
          <h2 class="h2">checkbox</h2>
          <button type="button" class="guide_formbtn btn secondary xs" onclick="toggle(this)">닫기</button>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">checkbox chk</h3>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">block (gap_xs)</h4>
          </div>

          <div class="chkbx_group block gap_xs">
            <div class="chkbx_item chk">
              <input type="checkbox" id="check1_1" name="check_group1">
              <label for="check1_1">항목1</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check1_2" name="check_group1">
              <label for="check1_2">
                <strong>항목2</strong>
              </label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check1_3" name="check_group1">
              <label for="check1_3">
                <strong>항목3</strong><br>
                <em>항목 3에 대한 설명입니다.</em>
              </label>
            </div>
          </div>

          
          <div class="ttl_sub">
            <h4 class="h4">flex (gap_sm)</h4>
          </div>

          <div class="chkbx_group flex gap_sm">
            <div class="chkbx_item chk">
              <input type="checkbox" id="check2_1" name="check_group2">
              <label for="check2_1">항목1</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check2_2" name="check_group2">
              <label for="check2_2">항목2</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check2_3" name="check_group2" disabled>
              <label for="check2_3">비활성화</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check2_4" name="check_group2" checked disabled>
              <label for="check2_4">비활성화(checked)</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check2_5" name="check_group2">
              <label for="check2_5"><span class="blind">단독사용</label>
            </div>
          </div>

          
          <div class="ttl_sub">
            <h4 class="h4">flex col2 (gap_md)</h4>
          </div>

          <div class="chkbx_group flex col2 gap_md">
            <div class="chkbx_item chk">
              <input type="checkbox" id="check3_1" name="check_group3">
              <label for="check3_1">항목1</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check3_2" name="check_group3">
              <label for="check3_2">항목2</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check3_3" name="check_group3">
              <label for="check3_3">항목3</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check3_4" name="check_group3">
              <label for="check3_4">항목4</label>
            </div>
          </div>

          
          <div class="ttl_sub">
            <h4 class="h4">flex col3 (gap_lg)</h4>
          </div>

          <div class="chkbx_group flex col3 gap_lg">
            <div class="chkbx_item chk">
              <input type="checkbox" id="check4_1" name="check_group4">
              <label for="check4_1">항목1</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check4_2" name="check_group4">
              <label for="check4_2">항목2</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check4_3" name="check_group4">
              <label for="check4_3">항목3</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check4_4" name="check_group4">
              <label for="check4_4">항목4</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check4_5" name="check_group4">
              <label for="check4_5">항목5</label>
            </div>
            <div class="chkbx_item chk">
              <input type="checkbox" id="check4_6" name="check_group4">
              <label for="check4_6">항목6</label>
            </div>
          </div>

          
          <div class="ttl_sub">
            <h3 class="h3">checkbox etc</h3>
          </div>

          <div class="ttl_sub">
            <h4 class="h4">class="chkbx_group {class명}"</h4>
          </div>

          <div class="chkbx_group type_check">
            <div class="chkbx_item">
              <input type="checkbox" id="check5_1" name="check_etc">
              <label for="check5_1">항목1</label>
            </div>
            <div class="chkbx_item">
              <input type="checkbox" id="check5_2" name="check_etc">
              <label for="check5_2">항목2</label>
            </div>
            <div class="chkbx_item">
              <input type="checkbox" id="check5_3" name="check_etc">
              <label for="check5_3">항목3</label>
            </div>
          </div>
        </div>





        <hr class="hr_divide">

        <div class="ttl_page">
          <h2 class="h2">switch</h2>
          <button type="button" class="guide_formbtn btn secondary xs" onclick="toggle(this)">닫기</button>
        </div>

        <div class="section">
          <span class="switch">    
            <input type="checkbox" id="switch1">
            <label for="switch1"><span>활성</span></label>
          </span>
          <span class="switch">    
            <input type="checkbox" id="switch2" checked>
            <label for="switch2"><span>활성</span></label>
          </span>
          <span class="switch">    
            <input type="checkbox" id="switch3" disabled>
            <label for="switch3"><span>비활성</span></label>
          </span>
          <span class="switch">    
            <input type="checkbox" id="switch4" checked disabled>
            <label for="switch4"><span>비활성(checked)</span></label>
          </span>
          <span class="switch">    
            <input type="checkbox" id="switch5">
            <label for="switch5"><span class="hidden">단독사용</span></label>
          </span>
        </div>

        
      </div>

    </div>
    <footer id="footer"></footer>
  </div>


  <!-- 휴대폰번호 선택 -->
  <div class="layer_wrap bottom" data-popup="pop_phone" role="dialog">
    <div class="ly_in">
      <div class="ly_hd" tabindex="0">
        <h1 class="pop_h1">휴대폰번호 앞자리</h1>
      </div>
      <div class="ly_con">
        <div class="ly_cnt">
          <div class="section">
            
            <div class="radio_group block gap_lg">
              <div class="radio_item dot">
                <input type="radio" id="phone1" name="phone_group">
                <label for="phone1">010</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="phone1" name="phone_group">
                <label for="phone1">011</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="phone1" name="phone_group">
                <label for="phone1">016</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="phone1" name="phone_group">
                <label for="phone1">017</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="phone1" name="phone_group">
                <label for="phone1">019</label>
              </div>
            </div>

          </div>
        </div>
        <div class="ly_fix_bottom">
          <div class="btn_group">
            <button type="button" class="btn secondary lg" data-action="closeAll">취소</button>
            <button type="button" class="btn primary lg" data-action="close">확인</button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn_ico close" data-action="close"><span class="hidden">레이어창 닫기</span></button>
    </div>
  </div>

  <!-- 이메일 도메인 선택 -->
  <div class="layer_wrap bottom" data-popup="pop_email" role="dialog">
    <div class="ly_in">
      <div class="ly_hd" tabindex="0">
        <h1 class="pop_h1">도메인 선택</h1>
      </div>
      <div class="ly_con">
        <div class="ly_cnt">
          <div class="section">

            <div class="radio_group block gap_lg">
              <div class="radio_item dot">
                <input type="radio" id="email1" name="email_group">
                <label for="email1">naver.com</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="email2" name="email_group">
                <label for="email2">kakao.com</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="email3" name="email_group">
                <label for="email3">daum.com</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="email4" name="email_group">
                <label for="email4">hanmail.com</label>
              </div>
              <div class="radio_item dot">
                <input type="radio" id="email5" name="email_group">
                <label for="email5">google.com</label>
              </div>
            </div>

          </div>
        </div>
        <div class="ly_fix_bottom">
          <div class="btn_group">
            <button type="button" class="btn secondary lg" data-action="closeAll">취소</button>
            <button type="button" class="btn primary lg" data-action="close">확인</button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn_ico close" data-action="close"><span class="hidden">레이어창 닫기</span></button>
    </div>
  </div>

</body>
</html>