<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>guide</title>
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="../assets/css/common.css">
  <script src="../assets/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/front.js"></script>
</head>
<body>
  <div class="wrap">
    <header id="header"></header>
    <div id="container">
      <div class="content">
        <div class="ttl_page">
          <h2 class="h2">Tab</h2>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">default</h3>
          </div>
          <div class="tab_wrap">
            <div class="tab_list" role="tablist">
              <ul>
                <li><button type="button" role="tab" aria-selected="true" aria-controls="tabpanel_1">tabmenu 1</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_2">tabmenu 2</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_3">tabmenu 3</button></li>
              </ul>
            </div>
            <div class="tab_panel active" role="tabpanel" id="tabpanel_1" tabindex="0">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 1 콘텐츠 
              </div>
              <div class="section">
                탭메뉴 1 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_2" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 2 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_3" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 3 콘텐츠 
              </div>
            </div>
          </div>
        </div>


        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">tab scroll</h3>
          </div>
          <div class="tab_wrap">
            <div class="tab_list scroll" role="tablist">
              <ul>
                <li><button type="button" role="tab" aria-selected="true" aria-controls="tabpanel_1">tabmenu 1</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_2">tabmenu 2</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_3">tabmenu 3</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_4">tabmenu 4</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_5">tabmenu 5</button></li>
              </ul>
            </div>
            <div class="tab_panel active" role="tabpanel" id="tabpanel_1" tabindex="0">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 1 콘텐츠 
              </div>
              <div class="section">
                탭메뉴 1 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_2" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 2 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_3" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 3 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_4" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 4 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_5" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 5 콘텐츠 
              </div>
            </div>
          </div>
        </div>


        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">tab box</h3>
          </div>
          <div class="tab_wrap">
            <div class="tab_list box" role="tablist">
              <ul>
                <li><button type="button" role="tab" aria-selected="true" aria-controls="tabpanel_1">tabmenu 1</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_2">tabmenu 2</button></li>
                <li><button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_3">tabmenu 3</button></li>
              </ul>
            </div>
            <div class="tab_panel active" role="tabpanel" id="tabpanel_1" tabindex="0">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 1 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_2" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 2 콘텐츠 
              </div>
            </div>
            <div class="tab_panel" role="tabpanel" id="tabpanel_3" tabindex="-1">
              <h2 class="hidden">숨은 제목</h2>
              <div class="section">
                탭메뉴 3 콘텐츠 
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <footer id="footer"></footer>
  </div>
</body>
</html>