<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>guide</title>
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="../assets/css/common.css">
  <script src="../assets/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/front.js"></script>
</head>
<body>
  <div class="wrap">
    <header id="header"></header>
    <div id="container">

      <div class="content">
        <div class="ttl_page">
          <h2 class="h2">Title & text</h2>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h2 class="h2">28px 컨텐츠 타이틀</h2>
            <h3 class="h3">20px 서브 타이틀</h3>
            <h4 class="h4">18px 본문 타이틀</h4>
            <h5 class="h5">16px 본문 타이틀</h5>
          </div>
        </div>

        <div class="section">
          <div class="ttl_sub">
            <h3 class="h3">기본</h3>
          </div>
          <p class="p">본문 텍스트</p>
          <p class="p_sub">p_sub 서브 텍스트</p>
        </div>

      </div>

      <div class="fix_bottom">
        <div class="section">
          fix_bottom
        </div>
      </div>

    </div>
    <footer id="footer"></footer>
  </div>
</body>
</html>