@charset "utf-8";
@import url("fonts.css");
@import url("reset.css");

:root {
  --fc_01: #000;
  --fc_02: #26282c;
  --fc_03: #484b51;
  --fc_04: #696e76;
  --fc_05: #8c949e;
  --fc_06: #aab0b8;
  --fc_07: #c6cbd0;
  --fc_08: #dde1e4;
  --fc_09: #ebeef0;
  --fc_10: #f7f7f8;
  --fc_11: #fff;
}


/* **** margin **** */
.mgt_lg{margin-top:3.2rem;}
.mgt_md{margin-top:2.4rem;}
.mgt_sm{margin-top:1.6rem;}
.mgt_xs{margin-top:0.8rem;}
.mgt0{margin-top:0;}


/* **** padding **** */
.pdt_lg{padding-top:3.2rem;}
.pdt_md{padding-top:2.4rem;}
.pdt_sm{padding-top:1.6rem;}
.pdt_xs{padding-top:0.8rem;}
.pdt0{padding-top:0;}


/* **** layout **** */
.wrap{max-width:120rem; margin:0 auto;}
#header {height:5rem; background:#f7f7f7;}
#footer {height:5rem; background:#f7f7f7;}
#container{margin:4rem 0;}
#container .content{overflow:hidden;}
#container .content .ttl_page + .section{margin-top:3.6rem;}
.section {margin:0 2rem;}
.section + .section{margin-top:3.6rem;}
.section.wide{margin-left:0; margin-right:0;}
.fix_bottom{position:fixed; left:0; bottom:0; width:100%;}
.fix_bottom > .section:nth-of-type(1){margin-top:0;}


/* **** title **** */
.ttl_page{padding:0 2rem;}
.ttl_page h2{font-size:2.8rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub{margin-bottom:0.6rem;}
.ttl_sub .h2{font-size:2.8rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub .h3{font-size:1.8rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub .h4{font-size:1.6rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub .h5{font-size:1.4rem; font-weight:400; color:var(--fc_02, #26282c);}


/* **** text **** */
.p{font-size:1.6rem; color:var(--fc_02, #26282c);}
.p_sub{font-size:1.4rem; color:var(--fc_02, #26282c);}


/* **** button **** */
.btn_group{display:flex; align-items:center; justify-content:space-between;}
.btn{overflow:hidden; text-align:center; border-radius:0.4rem; box-sizing:border-box; vertical-align:middle;}
.btn_group .btn{flex:auto; margin:0 0.6rem;}
.btn_group .btn:first-child{margin-left:0;}
.btn_group .btn:last-child{margin-right:0;}
.btn.round{border-radius:5rem; padding:0 2rem;}
.btn.xs.round{border-radius:5rem;}
/* **** button color **** */
.btn.primary{background:#ffd338; color:#26282c;}
.btn.secondary{background:#ebeef0; color:#26282c;}
.btn.point{background:#696e76; color:#fff;}
.btn.outline{border:1px solid #8c949e; color:#26282c;}
/* **** button disabled **** */
.btn.primary[disabled],
.btn.secondary[disabled],
.btn.point[disabled]{background:#dde1e4; color:#aab0b8;}
.btn.outline[disabled]{border-color:#dde1e4; color:#aab0b8; background:transparent;}
/* **** button size **** */
.btn.lg{height:4.8rem; line-height:4.8rem; padding:0 1rem; font-size:1.6rem;}
.btn.md{height:4.4rem; line-height:4.4rem; padding:0 1rem; font-size:1.6rem;}
.btn.sm{height:3.6rem; line-height:3.6rem; padding:0 1rem; font-size:1.4rem;}
.btn.xs{height:2.8rem; line-height:2.8rem; padding:0 0.8rem; border-radius:0.2rem; font-size:1.4rem;}
/* button outline lineheight */
.btn.outline.lg{line-height:4.6rem;}
.btn.outline.md{line-height:4.2rem;}
.btn.outline.sm{line-height:3.4rem;}
.btn.outline.xs{line-height:2.6rem;}
/* button text */
.btn_txt{display:inline-block; font-size:1.4rem; line-height:2; vertical-align:middle; color:var(--fc_02, #26282c);}
.btn_txt.link{line-height:1.4; text-decoration:underline;}
.btn_txt.ico_arr{position:relative; padding-right:1.5rem;}
.btn_txt.ico_arr::after{position:absolute; right:0; top:50%; margin-top:-0.6rem; content:''; display:block; width:1.2rem; height:1.2rem; background:url(../images/ico/ico_arrow_12.png) -5rem 0 / 20rem auto no-repeat; transform:rotate(-90deg);}


/* **** table **** */
.table {margin-top:1.6rem;}
.table table {border-top:1px solid var(--fc_05, #8c949e);}
.table table th,
.table table td {padding:1.4rem 1.2rem; border-bottom:1px solid var(--fc_09, #ebeef0); border-right:1px solid var(--fc_09, #ebeef0); font-size:1.4rem;}
.table table th {background-color:var(--bg_02, #f7f7f8); font-weight:400; color:var(--fc_03, #484b51); text-align:center;}
.table table td {color:var(--fc_02, #26282c);}
.table table th:last-child,
.table table td:last-child {border-right:0;}
.table tbody th {text-align:left;}
.table table tfoot th,
.table table tfoot td {background-color:transparent; border-bottom:1px solid var(--fc_09, #ebeef0); font-weight:700; color:var(--fc_02, #26282c);}
/* table 정렬 */
.table table.center td,
.table table.center tbody th {text-align:center;}
.table table.right td {text-align:right;}
.table table .center{text-align:center;}
.table table .right{text-align:right;}
/* table caption */
.table_caption{overflow:hidden; margin-bottom:0.6rem; font-size:1.3rem; color:var(--fc_05, #8c949e)}
.table_caption .lt{float:left;}
.table_caption .rt{float:right;}


/* **** tab **** */
.tab_wrap {position:relative; width:100%; overflow:hidden;}
/* tab list */
.tab_wrap .tab_list {position:relative; display:block; margin:0; background:transparent; /*overflow:visible; overflow-x:scroll;*/ white-space:nowrap;}
.tab_wrap .tab_list::after{content:''; position:absolute; bottom:0; left:0; right:0; display:block; height:1px; border-bottom:1px solid var(--fc_08, #dde1e4);}
.tab_wrap .tab_list ul{display:flex; align-items:center; justify-content:space-between;}
.tab_wrap .tab_list ul li{flex:1;}
.tab_wrap .tab_list [role="tab"]{position:relative; display:block; width:100%; height:4rem; line-height:4rem; font-size:1.6rem; padding:0 0.2rem;}
.tab_wrap .tab_list [role="tab"][aria-selected="true"]{font-weight:700;}
.tab_wrap .tab_list [role="tab"]::after{position:absolute; left:50%; bottom:0; content:''; transform:translateX(-50%); display:block; width:0; height:0.4rem; background:#222; z-index:2; transition:width .3s;}
.tab_wrap .tab_list [role="tab"][aria-selected="true"]::after{width:100%;}
/* tab scroll */
.tab_wrap .tab_list.scroll::before {content:''; display:block; position:absolute; right:0; top:0; width:2.4rem; height:3.9rem; z-index:1; background:linear-gradient(270deg, var(--bg_01, #fff) 15%, rgba(255,255,255,0) 100%);}
.tab_wrap .tab_list.scroll ul{justify-content:flex-start; overflow-x:scroll; padding-right:2.4rem;}
.tab_wrap .tab_list.scroll ul::-webkit-scrollbar {display:none;}
.tab_wrap .tab_list.scroll ul li{flex:none;}
.tab_wrap .tab_list.scroll ul li + li{margin-left:2.4rem;}
/* tab box */
.tab_wrap .tab_list.box{background:#f2f2f2; border-radius:0.8rem; padding:0.6rem;}
.tab_wrap .tab_list.box::after{display:none;}
.tab_wrap .tab_list.box [role="tab"]{z-index:2; border-radius:0.8rem; height:3.6rem; line-height:3.6rem;}
.tab_wrap .tab_list.box [role="tab"]::after{display:none;}
.tab_wrap .tab_list.box [role="tab"][aria-selected="true"]{background:#fff; box-shadow:0 2px 5px 0 rgba(0,0,0, 0.1);}
/* tab panel */
.tab_wrap .tab_panel{position:relative; margin-top:2.8rem; display:none;}
.tab_wrap .tab_panel[tabindex='-1'] {display:none;}
.tab_wrap .tab_panel[tabindex='0'] {display:block;}
.tab_wrap .tab_panel .section{margin:0;}



/* **** accordion & toggle **** */
.acd_wrap{border-top:1px solid #444;}
.acd_wrap li{position:relative; border-bottom:1px solid #ddd;}
.acd_wrap .acd_ttl{position:relative;}
.acd_wrap .acd_ttl .ttl{padding:2rem 3.6rem 2rem 0; font-size:1.6rem; font-weight:700; color:var(--fc_01);}
.acd_wrap .acd_ttl button.ttl{width:100%; text-align:left;}
.acd_wrap .acd_ttl button.ttl::after{position:absolute; right:0; top:50%; margin-top:-1.2rem; content:''; display:block; width:2.4rem; height:2.4rem; background:url(../images/ico/ico_arrow_24.png) -5rem 0 / 20rem auto no-repeat;}
.acd_wrap .acd_panel{padding:0 0 2rem; display:none;}
/* accordion on */
.acd_wrap li.on .acd_ttl button.ttl::after{transform:rotate(180deg);}
/* ico button */
.acd_wrap .acd_ttl button.ico{position:absolute; right:0; top:50%; margin-top:-1.2rem; display:block; width:2.4rem; height:2.4rem; background:url(../images/ico/ico_arrow_24.png) -5rem 0 / 20rem auto no-repeat;}
.acd_wrap li.on .acd_ttl button.ico{transform:rotate(180deg);}

/* single toggle */
.toggle_wrap{margin:3.2rem 0 0;}
.toggle_notice .toggle_tit{height:2.6rem; display:flex; align-items:center; width:fit-content; margin:0 auto;}
.toggle_notice .toggle_tit::after{content:''; display:inline-block; width:1.4rem; height:1.4rem; background:url(../images/ico/ico_toggle.png) 0 0 / 100% auto no-repeat; margin-left:0.4rem;}
.toggle_notice .toggle_tit[aria-expanded='true']::after{transform:rotate(180deg)}
.toggle_detail .toggle_tit{height:2.6rem; display:flex; align-items:center; width:fit-content; margin:0 auto;}
.toggle_detail .toggle_tit::after{content:''; display:inline-block; width:1.2rem; height:1.2rem; background:url(../images/ico/ico_arrow_12.png) -5rem 0 / 20rem auto no-repeat; margin-left:0.4rem;}
.toggle_detail .toggle_tit[aria-expanded='true']::after{transform:rotate(180deg)}


/* **** pagination **** */
.pagination {display:flex; justify-content:center; align-items:center; margin-top:2rem;}
.pagination button {min-width:2.4rem; height:2.4rem;}
.pagination > button {margin:0 0.4rem; background:url(../images/ico/ico_pagination.png) 0 0 / 12rem auto no-repeat; font-size:0; text-indent:-10000rem; overflow:hidden;}
.pagination > button.first {background-position:0 0;}
.pagination > button.last {background-position:-9rem 0;}
.pagination > button.next {background-position:-6rem 0;}
.pagination > button.prev {background-position:-3rem 0;}
.pagination > ul {display:flex; justify-content:center; align-items:center; margin:0 0.6rem;}
.pagination > ul li {margin:0 0.3rem;}
.pagination > ul button {font-size:1.6rem; line-height:2.3rem; color:#bbb;}
.pagination > ul li.on button {font-weight:700; color:#000;}



/* **** list **** */
.list{margin-top:1.2rem; font-size:1.4rem;}
.list li{position:relative; color:var(--fc_02, #26282c);}
.list li + li{margin-top:0.6rem;}
/* list dot */
.list.dot > li{padding-left:1.2rem;}
.list.dot > li::before{content:''; position:absolute; left:0; top:0.8rem; display:block; width:0.3rem; height:0.3rem; border-radius:1rem; background:#444;}
/* list star */
.list.star > li{padding-left:1.2rem;}
.list.star > li::before{content:''; position:absolute; left:0; top:0.7rem; display:block; width:0.7rem; height:0.7rem; background:url(../images/ico/ico_list_star.png) 0 0 / 100% auto no-repeat;}
/* list dash */
.list.dash > li{padding-left:1.2rem;}
.list.dash > li::before{content:''; position:absolute; left:0; top:1rem; display:block; width:0.5rem; height:1px; background:#888;}
/* list num */
.list.num{counter-reset:number 0;}
.list.num > li{padding-left:1.2rem; text-indent:-1.2rem;}
.list.num > li::before{counter-increment:number 1; content:counter(number) '. '}
/* cnum */
.list.cnum > li{padding-left:1.6rem;}
.list.cnum > li i{position:absolute; left:0; top:0; font-style:normal;}



/* **** swiper **** */
.guideSwiper {position:relative; width:64.3rem; height:37rem; overflow:hidden; overflow:clip; z-index:1; touch-action:pan-y;}
.guideSwiper .swiper-wrapper {position:relative; width:100%; height:100%; z-index:1; display:flex; transition-property:transform; transition-timing-function:initial; transform:translate3d(0px, 0, 0);}
.guideSwiper .swiper-slide{position:relative; flex-shrink:0; display:block; width:100%; height:100%; transition-property:transform;}
.guideSwiper .swiper-button-prev,
.guideSwiper .swiper-button-next{position:absolute; top:50%; display:flex; align-items:center; justify-content:center; width:4rem; height:4rem; margin-top:-2rem; border-radius:4rem; background:#fff; box-shadow:0 3px 5px 0 rgba(0,0,0, 0.4); z-index:10;}
.guideSwiper .swiper-button-prev{left:0;}
.guideSwiper .swiper-button-next{right:0;}
.guideSwiper .swiper-button-prev::before,
.guideSwiper .swiper-button-next::before{content:''; width:2.4rem; height:2.4rem; background:url(../images/ico/ico_arrow_24.png) -5rem 0 / 20rem auto no-repeat;}
.guideSwiper .swiper-button-prev::before{transform:rotate(90deg);}
.guideSwiper .swiper-button-next::before{transform:rotate(-90deg);}
.guideSwiper .swiper-button-disabled{opacity:0.35;}
.guideSwiper .swiper-pagenation-wrap{position:absolute; left:50%; bottom:1rem; height:2.6rem; display:flex; align-items:center; transition:.3s opacity; transform:translate3d(-50%, 0, 0); background:rgba(0,0,0, 0.2); padding:0 1.4rem; border-radius:2.6rem; z-index:10;}
.guideSwiper .swiper-pagination {display:flex; align-items:center;}
.guideSwiper .swiper-paging{margin:0.1rem 0.6rem 0 1rem; font-size:1.1rem; color:#fff;}
.guideSwiper .swiper-autoplay-control{width:1.6rem; height:1.6rem; background:red; background:url(../images/ico/ico_slide_16.png) 0 0 / 10rem auto no-repeat;}
.guideSwiper .swiper-autoplay-control[aria-pressed="true"]{background-position:-2rem 0;}
.guideSwiper .swiper-pagination-bullet{width:0.8rem; height:0.8rem; border-radius:1rem; background:#fff; opacity:0.3;}
.guideSwiper .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:0.4rem;}
.guideSwiper .swiper-pagination-bullet-active{opacity:1;}



/* **** popup **** */
/*
  4종류
  alert
  confirm
  bottom
  full
*/
/* .noScroll {position:fixed; width:100%; height:100%; overflow:hidden!important; z-index:1;} */
.noScroll{overflow:hidden;}
.layer_wrap {position:fixed; bottom:0; left:0; width:100%; height:100%; display:flex; align-items:center; justify-content:center; z-index:1001;}
.layer_wrap::before{content:''; position:absolute; left:0; bottom:0; z-index:1; width:100%; height:100%; background:rgba(0,0,0,0.3);}
.layer_wrap .ly_in {position:relative; width:100%; max-height:100%; display:flex; flex-direction:column; justify-content:space-between; align-items:stretch; text-align:left; overflow:hidden; background:#fff; z-index:1;}
.layer_wrap .ly_hd {flex:1 1 auto; padding:2.6rem 7rem 2rem 2rem;}
.layer_wrap .ly_hd .pop_h1 {position:relative; font-size:2rem; color:var(--fc_02, #26282c); font-weight:700;}

.layer_wrap.noHd .ly_in{padding-top:3.2rem;}

.layer_wrap .btn_ico.close {position:absolute; top:2.8rem; right:2rem; width:2.4rem; height:2.4rem; z-index:2;}
.layer_wrap .btn_ico.close:before {position:absolute; left:11px; top:0; content:''; display:block; width:.2rem; height:2.4rem; background:#8c949e; transform: rotate(45deg);}
.layer_wrap .btn_ico.close:after {position:absolute; left:11px; top:0; content:''; display:block; width:.2rem; height:2.4rem; background:#8c949e; transform: rotate(-45deg);}

.layer_wrap .ly_con{flex:1 1 100%; display:flex; flex-direction:column; justify-content:space-between; align-items:stretch; overflow:hidden;}
.layer_wrap .ly_cnt{flex:1 1 100%; overflow-y:scroll;}
.layer_wrap .ly_cnt::-webkit-scrollbar{width:5px}
.layer_wrap .ly_cnt::-webkit-scrollbar-thumb{height:30%;background:rgba(0,0,0,.4);border-radius:10px}
.layer_wrap .ly_cnt::-webkit-scrollbar-track{background:rgba(33,122,244,.03)}

.layer_wrap .ly_fix_bottom {flex:1 1 auto; padding:3.2rem 0 0;}
.layer_wrap .ly_fix_bottom .btn_group .btn{height:5.2rem; line-height:5.2rem; font-size:1.6rem; font-weight:700; margin:0; border-radius:0;}

/* popup alert */
.layer_wrap.alert{padding:6rem; display:none;}
.layer_wrap.alert .ly_in{max-width:40rem; border-radius:.2rem;}
.layer_wrap.alert .ly_con{padding:1rem 0 3.2rem;}
.layer_wrap.alert.open{display:flex;}
.layer_wrap.alert.open .ly_in{animation: layerOpen .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.alert.close{display:flex;}
.layer_wrap.alert.close .ly_in{animation: layerClose .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* popup confirm */
.layer_wrap.confirm{padding:6rem; display:none;}
.layer_wrap.confirm .ly_in{border-radius:.2rem;}
.layer_wrap.confirm.open{display:flex;}
.layer_wrap.confirm.open .ly_in{animation: layerOpen .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.confirm.close{display:flex;}
.layer_wrap.confirm.close .ly_in{animation: layerClose .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* popup bottom */
.layer_wrap.bottom{align-items:flex-end; justify-content:center; padding:6rem 0 0 0; display:none;}
.layer_wrap.bottom .ly_in{border-radius:1.2rem 1.2rem 0 0;}
.layer_wrap.bottom.open{display:flex;}
.layer_wrap.bottom.open .ly_in{animation:layerBtmOpen .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.bottom.close{display:flex;}
.layer_wrap.bottom.close .ly_in{animation:layerBtmClose .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* popup full */
.layer_wrap.full{align-items:flex-end; justify-content:center; display:none;}
.layer_wrap.full .ly_in{height:100%;}
.layer_wrap.full.open,
.layer_wrap.full.close{display:flex;}
.layer_wrap.full.open .ly_in{animation:layerBtmOpen .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.full.close .ly_in{animation:layerBtmClose .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* has tab */
.layer_wrap.hasTab{padding-top:0; padding-bottom:0;}
.layer_wrap.hasTab .ly_in{height:70%;}
.layer_wrap.hasTab .ly_cnt{overflow:hidden;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap{height:100%; display:flex; flex-direction:column; align-items:stretch; justify-content:space-between;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap > .tab_list{flex:1 1 auto; margin:0 2rem;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel{flex:1 1 100%; overflow-y:scroll; padding:0 2rem;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel::-webkit-scrollbar{width:5px}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel::-webkit-scrollbar-thumb{height:30%;background:rgba(0,0,0,.4);border-radius:10px}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel::-webkit-scrollbar-track{background:rgba(33,122,244,.03)}


/* layer animation */
@keyframes layerOpen {
  0% {transform:scale(0.8); opacity: 0;}
  100% {transform:scale(1); opacity: 1;}
}
@keyframes layerClose {
  0% {transform:scale(1); opacity: 1;}
  100% {transform:scale(0.9); opacity: 0;}
}
@keyframes layerBtmOpen {
  0% {transform:translateY(100%);}
  100% {transform:translateY(0);}
}
@keyframes layerBtmClose {
  0% {transform:translateY(0);}
  100% {transform:translateY(100%);}
}


/* .layer_wrap .row {height:100%; display: table; table-layout: fixed; width: 100%;}
.layer_wrap .col {vertical-align: middle; display: table-cell; width: 50%;}
.layer_wrap .col_dim {position:absolute; left:0; bottom:0; z-index:1; width:100%; height:100%; background:rgba(0,0,0,0.3);} */



/* .layer_wrap .h_ico {display:block; padding-left:3.6rem;} 
.layer_wrap .h_ico::before {position:absolute; left:0; top:.2rem; content:''; width:2.4rem; height:2.4rem; background: url(/mnbank/app/img/common/spr_ico_24x.png) no-repeat; background-size: 25rem auto;}
.layer_wrap .h_ico.noti::before {background-position: -21.6rem -7.2rem;}  */

/* .layer_wrap .scroll_y {max-height:inherit; overflow:hidden; overflow-y: auto; -webkit-overflow-scrolling:touch;} */






/* .layer_wrap .ly_h1 {margin-bottom:.8rem; font-size:1.8rem; color: #212529; line-height:2.6rem; font-weight:700;} */
/* .layer_wrap .section:last-of-type {margin-bottom:0; padding-top:0;}
.layer_wrap .tab_panel .section:first-child,
.layer_wrap .tab_panel .section_f:first-child {padding-top:0;}
.layer_wrap .ly_again_check {padding:0 2.4rem; margin-top:2.8rem;}
.layer_wrap .ly_again_check .number {font-size:1.7rem;}
.layer_wrap .ly_again_check em {padding-top:0 !important;}
.layer_wrap .ly_again_check .label {margin-top:0 !important;}
.layer_wrap .swiper-pagination {bottom:0; line-height:0; margin-top:2rem;}
.layer_wrap .ly_ban_wrap {padding-top:0;}
.layer_wrap .ly_ban_wrap .swiper-slide .im {width:100%; background:#f7f7f8; text-align:center;}
.layer_wrap .ly_ban_wrap .swiper-slide .im > img {max-width:32.7rem; margin:0 auto;}
.layer_wrap .noHd .ly_ban_wrap {padding-top:3.6rem;}
.layer_wrap .ly_banTxt_wrap {display:block; min-height:3rem; padding-left:3.6rem; padding-right:3.6rem;}
.layer_wrap .ly_banTxt_wrap::before {position:absolute; left:0; top:0rem; content:''; width:2.4rem; height:2.4rem; background: url(/mnbank/app/img/common/spr_ico_24x.png) no-repeat; background-position: -21.6rem -7.2rem; background-size: 25rem auto;} 
.layer_wrap .ly_banTxt_wrap em,
.layer_wrap .ly_ban_wrap em {background:linear-gradient(180deg, var(--fc_11, #fff) 0%, var(--fc_11, #fff) 70%, #ffcc00 70%, #ffcc00 100% );}
@media all and (device-width: 375px){
    .layer_wrap .ly_banTxt_wrap em,
    .layer_wrap .ly_ban_wrap em {background:linear-gradient(180deg, var(--fc_11, #fff) 0%, var(--fc_11, #fff) 60%, #ffcc00 60%, #ffcc00 60%, #ffcc00 85%, var(--fc_11, #fff) 85%);}
} */

/* .layer_wrap .ly_in.noHd {padding-top:3.2rem;}
.layer_wrap .ly_in.noHd .btn_ico.close {top:2rem;}
.layer_wrap .ly_in.noHd .ly_hd {display:none; overflow:hidden; position:absolute; width:1px; height:1px; clip:rect(0 0 0 0); margin:-1px; padding:1px; color:transparent;}
.layer_wrap .ly_in.noHd .ly_con {padding-top:0;}
.layer_wrap .ly_in.noHd .ly_cnt {padding-top:0;}

.layer_wrap .ly_in.noBtn .ly_hd {padding-right:2rem;}
.layer_wrap .ly_in.noBtn .btn_ico.close {display:none;} */

/* type base -type1 */
/* .layer_wrap.type1  .btn_pop_confirm_wrap { margin-bottom:-2.4rem}
.layer_wrap.type1 .ly_in {animation: layerAni .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.type1 .ly_in.off {animation: layerAniOff .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;} */

/* type base -type2 */
/* .layer_wrap.type2 {padding:1.7rem 0 0;}
.layer_wrap.type2 .ly_in {position:fixed; left:0; bottom:-100%; z-index:2; width:100%; max-height:100%; border-bottom-left-radius: 0; border-bottom-right-radius: 0; overflow:hidden;}
.layer_wrap.type2 .ly_hd.center h1 {padding-left:3rem;}
.layer_wrap.type2.off .ly_in {bottom:0; transform: translate(0px,100%); transition:transform .3s ease-in;}
.layer_wrap.type2.on .ly_in {bottom:0; transform: translate(0px,0%);}
.layer_wrap.type2 .ly_in.noBtn .ly_hd {padding-right:2.4rem;}
.layer_wrap.type2 .ly_con {padding-bottom:constant(safe-area-inset-bottom); padding-bottom:env(safe-area-inset-bottom);}
.layer_wrap.type2 .ly_cnt {padding-bottom:3.2rem;}
.layer_wrap.type2 .btn_pop_confirm_wrap {
    margin-bottom:-2.4rem;
    margin-bottom:calc(constant(safe-area-inset-bottom) * -1);
    margin-bottom:calc(env(safe-area-inset-bottom) * -1);
} */
/* .layer_wrap.type2 .btn_pop_confirm_wrap button {font-size:2rem; line-height: 6rem; 
    padding-bottom:calc(constant(safe-area-inset-bottom) / 2); 
    padding-bottom:calc(env(safe-area-inset-bottom) / 2);    
} */

/* type-alert */
/* .layer_wrap.alert .ly_hd.hidden {padding:0 !important;}
.layer_wrap.alert .ly_con {padding:2.4rem 0 3.2rem;} */

/* type-confirm */
/* .layer_wrap.confirm .ly_cnt {max-height:20rem; overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.layer_wrap.confirm .ly_cnt .section:first-child > .h3:first-child {margin-top:0;}
.layer_wrap.confirm.btm .col {vertical-align: bottom;}
.layer_wrap.confirm.btm-one .col {vertical-align: bottom;}
.layer_wrap.confirm.btm-one .ly_con {padding-bottom:0;}
.layer_wrap.confirm.btm-one .ly_in.noHd {padding:2rem 0;}
.layer_wrap.confirm.btm-one .section {margin:0 2rem;}
.layer_wrap.confirm.btm-one .btn_ico.close {width:2rem; height:2rem;}
.layer_wrap.confirm.btm-one .btn_ico.close:before {top:.1rem; left:.9rem; height:1.8rem;}
.layer_wrap.confirm.btm-one .btn_ico.close:after {top:.1rem; left:.9rem; height:1.8rem;}
.layer_wrap.confirm.btm,
.layer_wrap.confirm.btm-one {padding-bottom:2.4rem;} */

/* type-bottom */
/* .layer_wrap.bottom .ly_in {overflow-y:hidden; border-top-left-radius:1.2rem; border-top-right-radius:1.2rem;}
.layer_wrap.bottom .ly_in {transition: height .3s cubic-bezier(0.165, 0.84, 0.44, 1);}
.layer_wrap.bottom .ly_hd h1 {letter-spacing: -0.02em;}
.layer_wrap.bottom .ly_con {position: relative; overflow: hidden; padding-top:0;}
.layer_wrap.bottom .ly_con.scroll_y {max-height:inherit;}
.layer_wrap.bottom .ly_cnt {overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}
.layer_wrap.bottom .btn_pop_confirm_wrap {padding-top:0rem;}
.layer_wrap.bottom .ly_in.noHd.noBtn .ly_con {padding:0 0 2.4rem;}
.layer_wrap.bottom .ly_in.on .ly_con {height:100% !important;} */

/* layer - notice */
/* .layer_wrap .inform_top_wrap {margin:0 0 2rem; background:transparent;}
.layer_wrap .section .inform_top_wrap {margin:0 0 2rem; padding-left:0; padding-right:0; background:transparent;}
.layer_wrap .inform_btm_wrap {margin-bottom:0;} */

/* layer - tabs */
/* .layer_wrap .tab_wrap [role='tabpanel'] {padding-top: 3.2rem; padding-bottom:0;}
.layer_wrap .tablist_sub > [role='tablist'] {height:3.4rem;}
.layer_wrap .inform_top_wrap {margin-bottom:2rem;} */

/* layer - floating banner */
/* .ly_floating_ban .link {display:block; max-width: 37.5rem; margin:0 auto;}
.ly_floating_ban .im {width:100%;}
.ly_ban_List {padding-bottom:.8rem;}
.ly_ban_List li a {display:block; padding:1.7rem 0;}
.ly_ban_List li {border-bottom:1px solid var(--bdc_01, #ebeef0);}
.ly_ban_List li:first-child a {padding-top:0;}
.ly_ban_advice {display: table; table-layout: fixed; width:100%;}
.ly_ban_advice li {display: table-cell; width:25%; text-align: center; vertical-align: top;}
.ly_ban_advice a {display:block; font-size:1.4rem; color:var(--fc_03, #484b51); margin:0 auto;}
.ly_ban_advice a:before {display: block; content:''; clear:both; width:6rem; height:6rem; margin:0 auto 1.2rem; background: url(/mnbank/app/img/common/spr_ico_60x.png) no-repeat; background-size: 30rem auto;}
.ly_ban_advice .li1 a:before {background-position:0 -12rem;}
.ly_ban_advice .li2 a:before {background-position:-6rem -12rem;}
.ly_ban_advice .li3 a:before {background-position:-12rem -12rem;}
.ly_ban_advice .li4 a:before {background-position:-18rem -12rem;}
p + .ly_ban_advice{margin-top:3.2rem;}
.ly_ban_advice + .list_link{margin-top:4.8rem;} */

/* @media all and (max-width:320px) {
    :root {font-size:9px;} 
    .layer_wrap .ly_con > .btn_pop_confirm_wrap .btn {height:auto;}
} */

