@charset "utf-8";
@import url("fonts.css");
@import url("reset.css");

:root {
  --fc_01: #000;
  --fc_02: #26282c;
  --fc_03: #484b51;
  --fc_04: #696e76;
  --fc_05: #8c949e;
  --fc_06: #aab0b8;
  --fc_07: #c6cbd0;
  --fc_08: #dde1e4;
  --fc_09: #ebeef0;
  --fc_10: #f7f7f8;
  --fc_11: #fff;
}


/* **** margin **** */
.mgt_lg{margin-top:3.2rem;}
.mgt_md{margin-top:2.4rem;}
.mgt_sm{margin-top:1.6rem;}
.mgt_xs{margin-top:0.8rem;}
.mgt0{margin-top:0;}


/* **** padding **** */
.pdt_lg{padding-top:3.2rem;}
.pdt_md{padding-top:2.4rem;}
.pdt_sm{padding-top:1.6rem;}
.pdt_xs{padding-top:0.8rem;}
.pdt0{padding-top:0;}


/* **** layout **** */
.wrap{max-width:120rem; margin:0 auto;}
#header {height:5rem; background:#f7f7f7;}
#footer {height:5rem; background:#f7f7f7;}
#container{margin:4rem 0;}
#container .content{overflow:hidden;}
#container .content .ttl_page + .section{margin-top:3.6rem;}
.section {margin:0 2rem;}
.section + .section{margin-top:3.6rem;}
.section.wide{margin-left:0; margin-right:0;}
.fix_bottom{position:fixed; left:0; bottom:0; width:100%;}
.fix_bottom > .section:nth-of-type(1){margin-top:0;}

hr.hr_divide{padding:0; margin:6.5rem 0; border:0 none; height:1rem; background:#f7f7f7;}


/* **** title **** */
.ttl_page{padding:0 2rem; margin-top:6.4rem;}
.ttl_page:nth-of-type(1){margin-top:0;}
.ttl_page h2{font-size:2.8rem; font-weight:700; color:var(--fc_02, #26282c);}
/* ttl_sub */
.ttl_sub{margin-top:3.2rem; margin-bottom:1.4rem;}
.ttl_sub:nth-of-type(1){margin-top:0;}
.ttl_sub .h2{font-size:2.8rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub .h3{font-size:2rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub .h4{font-size:1.8rem; font-weight:700; color:var(--fc_02, #26282c);}
.ttl_sub .h5{font-size:1.6rem; font-weight:700; color:var(--fc_02, #26282c);}


/* **** text **** */
.p{font-size:1.6rem; color:var(--fc_02, #26282c);}
.p_sub{font-size:1.4rem; color:var(--fc_02, #26282c);}


/* **** button **** */
.btn_group{display:flex; align-items:center; justify-content:space-between;}
.btn{overflow:hidden; text-align:center; border-radius:0.4rem; box-sizing:border-box; vertical-align:middle;}
.btn_group .btn{flex:auto; margin:0 0.6rem;}
.btn_group .btn:first-child{margin-left:0;}
.btn_group .btn:last-child{margin-right:0;}
.btn.round{border-radius:5rem; padding:0 2rem;}
.btn.xs.round{border-radius:5rem;}
/* **** button color **** */
.btn.primary{background:var(--bg-primary, #ffd338); color:#26282c;}
.btn.secondary{background:var(--bg-secondary, #ebeef0); color:#26282c;}
.btn.point{background:var(--bg-point, #696e76); color:#fff;}
.btn.outline{border:1px solid #8c949e; color:#26282c;}
/* **** button disabled **** */
.btn.primary[disabled],
.btn.secondary[disabled],
.btn.point[disabled]{background:#dde1e4; color:#aab0b8;}
.btn.outline[disabled]{border-color:#dde1e4; color:#aab0b8; background:transparent;}
/* **** button size **** */
.btn.lg{height:4.8rem; line-height:4.8rem; padding:0 1rem; font-size:1.6rem;}
.btn.md{height:4.4rem; line-height:4.4rem; padding:0 1rem; font-size:1.6rem;}
.btn.sm{height:3.6rem; line-height:3.6rem; padding:0 1rem; font-size:1.4rem;}
.btn.xs{height:2.8rem; line-height:2.8rem; padding:0 0.8rem; border-radius:0.2rem; font-size:1.4rem;}
/* button outline lineheight */
.btn.outline.lg{line-height:4.6rem;}
.btn.outline.md{line-height:4.2rem;}
.btn.outline.sm{line-height:3.4rem;}
.btn.outline.xs{line-height:2.6rem;}
/* button text */
.btn_txt{display:inline-block; font-size:1.3rem; line-height:2; vertical-align:middle; color:var(--fc_02, #26282c);}
.btn_txt.link{line-height:1.4; text-decoration:underline;}
.btn_txt.ico_arr{position:relative; padding-right:1.5rem;}
.btn_txt.ico_arr::after{position:absolute; right:0; top:50%; margin-top:-0.6rem; content:''; display:block; width:1.2rem; height:1.2rem; background:url(../images/ico/ico_arrow_12.png) -5rem 0 / 20rem auto no-repeat; transform:rotate(-90deg);}


/* **** table **** */
.table {margin-top:1.6rem;}
.table table {border-top:1px solid var(--fc_05, #8c949e);}
.table table th,
.table table td {padding:1.4rem 1.2rem; border-bottom:1px solid var(--fc_09, #ebeef0); border-right:1px solid var(--fc_09, #ebeef0); font-size:1.4rem;}
.table table th {background-color:var(--bg_02, #f7f7f8); font-weight:400; color:var(--fc_03, #484b51); text-align:center;}
.table table td {color:var(--fc_02, #26282c);}
.table table th:last-child,
.table table td:last-child {border-right:0;}
.table tbody th {text-align:left;}
.table table tfoot th,
.table table tfoot td {background-color:transparent; border-bottom:1px solid var(--fc_09, #ebeef0); font-weight:700; color:var(--fc_02, #26282c);}
/* table 정렬 */
.table table.center td,
.table table.center tbody th {text-align:center;}
.table table.right td {text-align:right;}
.table table .center{text-align:center;}
.table table .right{text-align:right;}
/* table caption */
.table_caption{overflow:hidden; margin-bottom:0.6rem; font-size:1.3rem; color:var(--fc_05, #8c949e)}
.table_caption .lt{float:left;}
.table_caption .rt{float:right;}


/* **** tab **** */
.tab_wrap {position:relative; width:100%; overflow:hidden;}
/* tab list */
.tab_wrap .tab_list {position:relative; display:block; margin:0; background:transparent; /*overflow:visible; overflow-x:scroll;*/ white-space:nowrap;}
.tab_wrap .tab_list::after{content:''; position:absolute; bottom:0; left:0; right:0; display:block; height:1px; border-bottom:1px solid var(--fc_08, #dde1e4);}
.tab_wrap .tab_list ul{display:flex; align-items:center; justify-content:space-between;}
.tab_wrap .tab_list ul li{flex:1;}
.tab_wrap .tab_list [role="tab"]{position:relative; display:block; width:100%; height:4rem; line-height:4rem; font-size:1.6rem; padding:0 0.2rem;}
.tab_wrap .tab_list [role="tab"][aria-selected="true"]{font-weight:700;}
.tab_wrap .tab_list [role="tab"]::after{position:absolute; left:50%; bottom:0; content:''; transform:translateX(-50%); display:block; width:0; height:0.4rem; background:#222; z-index:2; transition:width .3s;}
.tab_wrap .tab_list [role="tab"][aria-selected="true"]::after{width:100%;}
/* tab scroll */
.tab_wrap .tab_list.scroll::before {content:''; display:block; position:absolute; right:0; top:0; width:2.4rem; height:3.9rem; z-index:1; background:linear-gradient(270deg, var(--bg_01, #fff) 15%, rgba(255,255,255,0) 100%);}
.tab_wrap .tab_list.scroll ul{justify-content:flex-start; overflow-x:scroll; padding-right:2.4rem;}
.tab_wrap .tab_list.scroll ul::-webkit-scrollbar {display:none;}
.tab_wrap .tab_list.scroll ul li{flex:none;}
.tab_wrap .tab_list.scroll ul li + li{margin-left:2.4rem;}
/* tab box */
.tab_wrap .tab_list.box{background:#f2f2f2; border-radius:0.8rem; padding:0.6rem;}
.tab_wrap .tab_list.box::after{display:none;}
.tab_wrap .tab_list.box [role="tab"]{z-index:2; border-radius:0.8rem; height:3.6rem; line-height:3.6rem;}
.tab_wrap .tab_list.box [role="tab"]::after{display:none;}
.tab_wrap .tab_list.box [role="tab"][aria-selected="true"]{background:#fff; box-shadow:0 2px 5px 0 rgba(0,0,0, 0.1);}
/* tab panel */
.tab_wrap .tab_panel{position:relative; margin-top:2.8rem; display:none;}
.tab_wrap .tab_panel[tabindex='-1'] {display:none;}
.tab_wrap .tab_panel[tabindex='0'] {display:block;}
.tab_wrap .tab_panel .section{margin:0;}



/* **** accordion & toggle **** */
.acd_wrap{border-top:1px solid #444;}
.acd_wrap li{position:relative; border-bottom:1px solid #ddd;}
.acd_wrap .acd_ttl{position:relative;}
.acd_wrap .acd_ttl .ttl{padding:2rem 3.6rem 2rem 0; font-size:1.6rem; font-weight:700; color:var(--fc_01);}
.acd_wrap .acd_ttl button.ttl{width:100%; text-align:left;}
.acd_wrap .acd_ttl button.ttl::after{position:absolute; right:0; top:50%; margin-top:-1.2rem; content:''; display:block; width:2.4rem; height:2.4rem; background:url(../images/ico/ico_arrow_24.png) -5rem 0 / 20rem auto no-repeat;}
.acd_wrap .acd_panel{padding:0 0 2rem; display:none;}
/* accordion on */
.acd_wrap li.on .acd_ttl button.ttl::after{transform:rotate(180deg);}
/* ico button */
.acd_wrap .acd_ttl button.ico{position:absolute; right:0; top:50%; margin-top:-1.2rem; display:block; width:2.4rem; height:2.4rem; background:url(../images/ico/ico_arrow_24.png) -5rem 0 / 20rem auto no-repeat;}
.acd_wrap li.on .acd_ttl button.ico{transform:rotate(180deg);}


/* **** single toggle **** */
.toggle_wrap{margin:3.2rem 0 0;}
/* toggle notice */
.toggle_notice .toggle_ttl{height:2.6rem; display:flex; align-items:center; width:fit-content; margin:0 auto;}
.toggle_notice .toggle_ttl::after{content:''; display:inline-block; width:1.4rem; height:1.4rem; background:url(../images/ico/ico_toggle.png) 0 0 / 100% auto no-repeat; margin-left:0.4rem;}
.toggle_notice .toggle_ttl[aria-expanded='true']::after{transform:rotate(180deg)}
/* toggle detail */
.toggle_detail .toggle_ttl{height:2.6rem; display:flex; align-items:center; width:fit-content; margin:0 auto;}
.toggle_detail .toggle_ttl::after{content:''; display:inline-block; width:1.2rem; height:1.2rem; background:url(../images/ico/ico_arrow_12.png) -5rem 0 / 20rem auto no-repeat; margin-left:0.4rem;}
.toggle_detail .toggle_ttl[aria-expanded='true']::after{transform:rotate(180deg)}


/* **** pagination **** */
.pagination {display:flex; justify-content:center; align-items:center; margin-top:2rem;}
.pagination button {min-width:2.4rem; height:2.4rem;}
.pagination > button {margin:0 0.4rem; background:url(../images/ico/ico_pagination.png) 0 0 / 12rem auto no-repeat; font-size:0; text-indent:-10000rem; overflow:hidden;}
.pagination > button.first {background-position:0 0;}
.pagination > button.last {background-position:-9rem 0;}
.pagination > button.next {background-position:-6rem 0;}
.pagination > button.prev {background-position:-3rem 0;}
.pagination > ul {display:flex; justify-content:center; align-items:center; margin:0 0.6rem;}
.pagination > ul li {margin:0 0.3rem;}
.pagination > ul button {font-size:1.6rem; line-height:2.3rem; color:#bbb;}
.pagination > ul li.on button {font-weight:700; color:#000;}



/* **** list **** */
.list{margin-top:1.2rem; font-size:1.4rem;}
.list li{position:relative; color:var(--fc_02, #26282c);}
.list li + li{margin-top:0.6rem;}
/* list dot */
.list.dot > li{padding-left:1.2rem;}
.list.dot > li::before{content:''; position:absolute; left:0; top:0.8rem; display:block; width:0.3rem; height:0.3rem; border-radius:1rem; background:#444;}
/* list star */
.list.star > li{padding-left:1.2rem;}
.list.star > li::before{content:''; position:absolute; left:0; top:0.7rem; display:block; width:0.7rem; height:0.7rem; background:url(../images/ico/ico_list_star.png) 0 0 / 100% auto no-repeat;}
/* list dash */
.list.dash > li{padding-left:1.2rem;}
.list.dash > li::before{content:''; position:absolute; left:0; top:1rem; display:block; width:0.5rem; height:1px; background:#888;}
/* list num */
.list.num{counter-reset:number 0;}
.list.num > li{padding-left:1.2rem; text-indent:-1.2rem;}
.list.num > li::before{counter-increment:number 1; content:counter(number) '. '}
/* cnum */
.list.cnum > li{padding-left:1.6rem;}
.list.cnum > li i{position:absolute; left:0; top:0; font-style:normal;}



/* **** swiper **** */
.guideSwiper {position:relative; width:64.3rem; height:37rem; overflow:hidden; overflow:clip; z-index:1; touch-action:pan-y;}
.guideSwiper .swiper-wrapper {position:relative; width:100%; height:100%; z-index:1; display:flex; transition-property:transform; transition-timing-function:initial; transform:translate3d(0px, 0, 0);}
.guideSwiper .swiper-slide{position:relative; flex-shrink:0; display:block; width:100%; height:100%; transition-property:transform;}
.guideSwiper .swiper-button-prev,
.guideSwiper .swiper-button-next{position:absolute; top:50%; display:flex; align-items:center; justify-content:center; width:4rem; height:4rem; margin-top:-2rem; border-radius:4rem; background:#fff; box-shadow:0 3px 5px 0 rgba(0,0,0, 0.4); z-index:10;}
.guideSwiper .swiper-button-prev{left:0;}
.guideSwiper .swiper-button-next{right:0;}
.guideSwiper .swiper-button-prev::before,
.guideSwiper .swiper-button-next::before{content:''; width:2.4rem; height:2.4rem; background:url(../images/ico/ico_arrow_24.png) -5rem 0 / 20rem auto no-repeat;}
.guideSwiper .swiper-button-prev::before{transform:rotate(90deg);}
.guideSwiper .swiper-button-next::before{transform:rotate(-90deg);}
.guideSwiper .swiper-button-disabled{opacity:0.35;}
.guideSwiper .swiper-pagenation-wrap{position:absolute; left:50%; bottom:1rem; height:2.6rem; display:flex; align-items:center; transition:.3s opacity; transform:translate3d(-50%, 0, 0); background:rgba(0,0,0, 0.2); padding:0 1.4rem; border-radius:2.6rem; z-index:10;}
.guideSwiper .swiper-pagination {display:flex; align-items:center;}
.guideSwiper .swiper-paging{margin:0.1rem 0.6rem 0 1rem; font-size:1.1rem; color:#fff;}
.guideSwiper .swiper-autoplay-control{width:1.6rem; height:1.6rem; background:red; background:url(../images/ico/ico_slide_16.png) 0 0 / 10rem auto no-repeat;}
.guideSwiper .swiper-autoplay-control[aria-pressed="true"]{background-position:-2rem 0;}
.guideSwiper .swiper-pagination-bullet{width:0.8rem; height:0.8rem; border-radius:1rem; background:#fff; opacity:0.3;}
.guideSwiper .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:0.4rem;}
.guideSwiper .swiper-pagination-bullet-active{opacity:1;}



/* **** popup (alert, confirm, button, full) **** */
.noScroll{overflow:hidden;}
.layer_wrap {position:fixed; bottom:0; left:0; width:100%; height:100%; display:flex; align-items:center; justify-content:center; z-index:1001;}
.layer_wrap::before{content:''; position:absolute; left:0; bottom:0; z-index:1; width:100%; height:100%; background:rgba(0,0,0,0.3);}
.layer_wrap .ly_in {position:relative; width:100%; max-height:100%; display:flex; flex-direction:column; justify-content:space-between; align-items:stretch; text-align:left; overflow:hidden; background:#fff; z-index:1;}
.layer_wrap .ly_hd {flex:1 1 auto; padding:2.6rem 7rem 2rem 2rem;}
.layer_wrap .ly_hd .pop_h1 {position:relative; font-size:2rem; color:var(--fc_02, #26282c); font-weight:700;}

.layer_wrap.noHd .ly_in{padding-top:3.2rem;}

.layer_wrap .btn_ico.close {position:absolute; top:2.8rem; right:2rem; width:2.4rem; height:2.4rem; z-index:2;}
.layer_wrap .btn_ico.close:before {position:absolute; left:11px; top:0; content:''; display:block; width:.2rem; height:2.4rem; background:#8c949e; transform: rotate(45deg);}
.layer_wrap .btn_ico.close:after {position:absolute; left:11px; top:0; content:''; display:block; width:.2rem; height:2.4rem; background:#8c949e; transform: rotate(-45deg);}

.layer_wrap .ly_con{flex:1 1 100%; display:flex; flex-direction:column; justify-content:space-between; align-items:stretch; overflow:hidden;}
.layer_wrap .ly_cnt{flex:1 1 100%; overflow-y:scroll;}
.layer_wrap .ly_cnt::-webkit-scrollbar{width:5px}
.layer_wrap .ly_cnt::-webkit-scrollbar-thumb{height:30%;background:rgba(0,0,0,.4);border-radius:10px}
.layer_wrap .ly_cnt::-webkit-scrollbar-track{background:rgba(33,122,244,.03)}

.layer_wrap .ly_fix_bottom {flex:1 1 auto; padding:3.2rem 0 0;}
.layer_wrap .ly_fix_bottom .btn_group .btn{height:5.2rem; line-height:5.2rem; font-size:1.6rem; font-weight:700; margin:0; border-radius:0;}

/* popup alert */
.layer_wrap.alert{padding:6rem; display:none;}
.layer_wrap.alert .ly_in{max-width:40rem; border-radius:.2rem;}
.layer_wrap.alert .ly_con{padding:1rem 0 3.2rem;}
.layer_wrap.alert.open{display:flex;}
.layer_wrap.alert.open .ly_in{animation: layerOpen .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.alert.close{display:flex;}
.layer_wrap.alert.close .ly_in{animation: layerClose .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* popup confirm */
.layer_wrap.confirm{padding:6rem; display:none;}
.layer_wrap.confirm .ly_in{border-radius:.2rem;}
.layer_wrap.confirm.open{display:flex;}
.layer_wrap.confirm.open .ly_in{animation: layerOpen .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.confirm.close{display:flex;}
.layer_wrap.confirm.close .ly_in{animation: layerClose .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* popup bottom */
.layer_wrap.bottom{align-items:flex-end; justify-content:center; padding:6rem 0 0 0; display:none;}
.layer_wrap.bottom .ly_in{border-radius:1.2rem 1.2rem 0 0;}
.layer_wrap.bottom.open{display:flex;}
.layer_wrap.bottom.open .ly_in{animation:layerBtmOpen .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.bottom.close{display:flex;}
.layer_wrap.bottom.close .ly_in{animation:layerBtmClose .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* popup full */
.layer_wrap.full{align-items:flex-end; justify-content:center; display:none;}
.layer_wrap.full .ly_in{height:100%;}
.layer_wrap.full.open,
.layer_wrap.full.close{display:flex;}
.layer_wrap.full.open .ly_in{animation:layerBtmOpen .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.layer_wrap.full.close .ly_in{animation:layerBtmClose .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}

/* has tab */
.layer_wrap.hasTab{padding-top:0; padding-bottom:0;}
.layer_wrap.hasTab .ly_in{height:70%;}
.layer_wrap.hasTab .ly_cnt{overflow:hidden;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap{height:100%; display:flex; flex-direction:column; align-items:stretch; justify-content:space-between;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap > .tab_list{flex:1 1 auto; margin:0 2rem;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel{flex:1 1 100%; overflow-y:scroll; padding:0 2rem;}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel::-webkit-scrollbar{width:5px}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel::-webkit-scrollbar-thumb{height:30%;background:rgba(0,0,0,.4);border-radius:10px}
.layer_wrap.hasTab .ly_cnt > .tab_wrap .tab_panel::-webkit-scrollbar-track{background:rgba(33,122,244,.03)}


/* layer animation */
@keyframes layerOpen {
  0% {transform:scale(0.8); opacity: 0;}
  100% {transform:scale(1); opacity: 1;}
}
@keyframes layerClose {
  0% {transform:scale(1); opacity: 1;}
  100% {transform:scale(0.9); opacity: 0;}
}
@keyframes layerBtmOpen {
  0% {transform:translateY(100%);}
  100% {transform:translateY(0);}
}
@keyframes layerBtmClose {
  0% {transform:translateY(0);}
  100% {transform:translateY(100%);}
}



/* **** form **** */
.form_group {position:relative;}
.form_group + .form_group{margin-top:3.2rem;}
/* ttl */
.form_group .form_ttl{display:flex; align-items:center; justify-content:space-between;}
.form_group .form_ttl .label{font-size:1.2rem; line-height:2rem; color:#333; margin-right:auto;}
.form_group.required .label::after{content:'*'; color:red;}
/* layout */
.form_group .form_row{display:flex; align-items:flex-start; justify-content:space-between;}
.form_group .form_row + .form_row{margin-top:1.2rem;}
.form_group .form_col{flex:1 1 100%;}
.form_group .form_col.w30{max-width:30%;}
.form_group .form_col.w35{max-width:35%;}
.form_group .form_col.w40{max-width:40%;}
.form_group .space{flex:0 0 3rem; height:4rem; line-height:4rem; text-align:center;}
/* form_msg */
.form_group .form_msg p{position:relative; font-size:1.2rem; padding-left:1.6rem; margin-top:0.8rem;}
.form_group .form_msg p + p{margin-top:0.4rem;}
.form_group .form_msg p::before{content:''; position:absolute; left:0; top:0.2rem; display:block; width:1.2rem; height:1.2rem; border-radius:1.2rem;}
.form_group .form_msg .tip::before{background:url(../images/ico/ico_tip.png) 0 0 / 100% auto no-repeat;}
.form_group .form_msg .error{color:red;}
.form_group .form_msg .error::before{background:url(../images/ico/ico_error.png) 0 0 / 100% auto no-repeat;}
.form_group .form_msg .success{color:#287eff;}
.form_group .form_msg .success::before{background:url(../images/ico/ico_error.png) 0 0 / 100% auto no-repeat #287eff;}


/* **** input **** */
.input{position:relative;}
.input input{width:100%; height:4rem; line-height:4rem; font-size:1.6rem; border-bottom:1px solid #d6d6d6;}
.input input[disabled],
.input input[readonly]{background:#edf0f6; color:#717171; -webkit-text-fill-color:#717171;}
.input::after{position:absolute; left:0; bottom:0; content:''; display:block; width:0; height:2px; background:#000; transition:width .2s;}
.input.focus:not(.readonly)::after,
.input.hasVal::after{width:100%;}
.input input:focus{outline:none;}
/* input unit */
.input.unit input::placeholder{text-align:left;}
.input.unit input,
.input.unit input:focus{text-align:right;}
.input.unit .unit{font-size:1.6rem; margin-left:0.8rem;}
/* masking */
.input.masking_jumin::before{position:absolute; left:2rem; top:0; content:'000000'; font-family:'pass'; -webkit-text-security:disc; display:block; height:4rem; line-height:4rem; opacity:0.5;}
/* form btn */
.input .form_btn{position:absolute; right:0; top:0; height:100%; display:flex; align-items:center;}
.input .form_btn * + *{margin-left:0.8rem;}
.input .form_btn .btn{margin-bottom:2px;}
/* form btn btn_clear */
.input .btn_clear {position:relative; width:2rem; height:2rem; border-radius: 50px; background:var(--fc_05, #8c949e); display:none}
.input .btn_clear:before {position:absolute; left:0.9rem; top:50%; content:''; display:block; width:2px; height:1rem; margin-top:-.5rem; background:#fff; transform: rotate(45deg);}
.input .btn_clear:after {position:absolute; right:0.9rem; top:50%; content:''; display:block; width:2px; height:1rem; margin-top:-.5rem; background:#fff; transform: rotate(-45deg);}
.input.hasVal .btn_clear{display:block;}
.input input[readonly] + .form_btn .btn_clear,
.input input[disabled] + .form_btn .btn_clear{display:none;}
/* form btn btn_etc */
.input .btn_box{height:2.6rem; line-height:2.6rem; padding:0 1.2rem; white-space:nowrap; word-break:keep-all; font-size:1.2rem; color:#fff; background:#555; border-radius:0.4rem;}
.input .btn_search{width:2.6rem; height:2.6rem; background:url(../images/ico/ico_search.png) 50% 50% / 2rem auto no-repeat;}
.input .btn_calendar{width:2.6rem; height:2.6rem; background:url(../images/ico/ico_calendar.png) 50% 50% / 2rem auto no-repeat;}


/* **** textarea **** */
.textarea{position:relative; border:1px solid #ddd;}
.textarea.focus:not(.readonly){border-color:var(--fc_02, #26282c);}
.textarea.disabled,
.textarea.readonly{background:#edf0f6; color:#717171; /*-webkit-text-fill-color:#717171;*/}
.textarea.disabled textarea,
.textarea.readonly textarea{color:#717171; -webkit-text-fill-color:#717171;}
.textarea textarea{display:block; width:100%; height:11rem; font-size:1.6rem; padding:1.6rem; -webkit-appearance:none; resize:none; border:0 none; outline:none; background-color:transparent;}
/* count */
.textarea.count:not(.auto_height){padding-bottom:3rem;}
.textarea.count .count{position:absolute; right:1.4rem; bottom:1.2rem; font-size:1.4rem; color:var(--fc_06, #aab0b8);}
.textarea.count .count .num{color:var(--fc_02, #26282c);}
.textarea.count .count .total::before{content:' / '}
/* autoHeight */
.textarea.auto_height textarea{height:4.8rem; min-height:auto; padding-top:1.4rem; padding-bottom:1.4rem;}
.textarea.auto_height .btn_confirm{position:absolute; right:0; bottom:0; height:4.8rem; line-height:4.8rem; padding:0 1.6rem; font-size:1.4rem; font-weight:700; color:#222;}
.textarea.auto_height .btn_confirm[disabled]{opacity:0.5;}
.textarea.auto_height .count{right:unset; left:1.4rem; display:none;}
.textarea.auto_height.count.hasVal{padding-bottom:3rem;}
.textarea.auto_height.count.hasVal .count{display:block;}


/* **** select **** */
.select{position:relative;}
.select .select_btn{display:block; width:100%; height:4rem; line-height:4rem; font-size:1.6rem; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; border-bottom:1px solid #d6d6d6;}
.select .select_btn::after{display:inline-block; position:absolute; right:.8rem; top:50%; z-index:1; content:''; width:.9rem; height:.9rem; margin-top:-.8rem; border-left:1px solid var(--fc_05, #8c949e); border-bottom:1px solid var(--fc_05, #8c949e); transform: rotate(-45deg);}
.select .select_btn[disabled],
.select .select_btn[readonly]{background:#edf0f6; color:#717171; -webkit-text-fill-color:#717171;}
.select::after{position:absolute; left:0; bottom:0; content:''; display:block; width:0; height:2px; background:#000; transition:width .2s;}
.select.focus::after,
.select.hasVal::after{width:100%;}
.select.focus .select_btn::after{transform:rotate(135deg); margin-top:-0.4rem;}



/* **** radio **** */
.radio_group + .radio_group{margin-top:3.2rem;}
.radio_group.block{display:block;}
/* flex */
.radio_group.flex{display:flex; flex-wrap:wrap; align-items:flex-start;}
.radio_group.flex.col2 .radio_item{flex:0 0 50%; max-width:50%;}
.radio_group.flex.col3 .radio_item{flex:0 0 33.333%; max-width:33.333%;}
.radio_group.flex.col4 .radio_item{flex:0 0 25%; max-width:25%;}
/* gap */
:root {
  --gap_xs: 2px;
  --gap_sm: 4px;
  --gap_md: 8px;
  --gap_lg: 12px;
  --gap_xl: 16px;
}
.radio_group.block.gap_xs .radio_item + .radio_item{margin-top:calc( var(--gap_xs) * 2 );}
.radio_group.block.gap_sm .radio_item + .radio_item{margin-top:calc( var(--gap_sm) * 2 );}
.radio_group.block.gap_md .radio_item + .radio_item{margin-top:calc( var(--gap_md) * 2 );}
.radio_group.block.gap_lg .radio_item + .radio_item{margin-top:calc( var(--gap_lg) * 2 );}
.radio_group.block.gap_xl .radio_item + .radio_item{margin-top:calc( var(--gap_xl) * 2 );}

.radio_group.flex.col2.gap_xs .radio_item{flex:0 0 calc(50% -       ((var(--gap_xs) * 1) / 2));}
.radio_group.flex.col3.gap_xs .radio_item{flex:0 0 calc(33.333% -   ((var(--gap_xs) * 2) / 3));}
.radio_group.flex.col4.gap_xs .radio_item{flex:0 0 calc(25% -       ((var(--gap_xs) * 3) / 4));}
.radio_group.flex.col2.gap_sm .radio_item{flex:0 0 calc(50% -       ((var(--gap_sm) * 1) / 2));}
.radio_group.flex.col3.gap_sm .radio_item{flex:0 0 calc(33.333% -   ((var(--gap_sm) * 2) / 3));}
.radio_group.flex.col4.gap_sm .radio_item{flex:0 0 calc(25% -       ((var(--gap_sm) * 3) / 4));}
.radio_group.flex.col2.gap_md .radio_item{flex:0 0 calc(50% -       ((var(--gap_md) * 1) / 2));}
.radio_group.flex.col3.gap_md .radio_item{flex:0 0 calc(33.333% -   ((var(--gap_md) * 2) / 3));}
.radio_group.flex.col4.gap_md .radio_item{flex:0 0 calc(25% -       ((var(--gap_md) * 3) / 4));}
.radio_group.flex.col2.gap_lg .radio_item{flex:0 0 calc(50% -       ((var(--gap_lg) * 1) / 2));}
.radio_group.flex.col3.gap_lg .radio_item{flex:0 0 calc(33.333% -   ((var(--gap_lg) * 2) / 3));}
.radio_group.flex.col4.gap_lg .radio_item{flex:0 0 calc(25% -       ((var(--gap_lg) * 3) / 4));}
.radio_group.flex.col2.gap_xl .radio_item{flex:0 0 calc(50% -       ((var(--gap_xl) * 1) / 2));}
.radio_group.flex.col3.gap_xl .radio_item{flex:0 0 calc(33.333% -   ((var(--gap_xl) * 2) / 3));}
.radio_group.flex.col4.gap_xl .radio_item{flex:0 0 calc(25% -       ((var(--gap_xl) * 3) / 4));}

.radio_group.flex.gap_xs[class*=col] .radio_item{margin-left:var(--gap_xs); margin-top:var(--gap_xs);}
.radio_group.flex.gap_sm[class*=col] .radio_item{margin-left:var(--gap_sm); margin-top:var(--gap_sm);}
.radio_group.flex.gap_md[class*=col] .radio_item{margin-left:var(--gap_md); margin-top:var(--gap_md);}
.radio_group.flex.gap_lg[class*=col] .radio_item{margin-left:var(--gap_lg); margin-top:var(--gap_lg);}
.radio_group.flex.gap_xl[class*=col] .radio_item{margin-left:var(--gap_xl); margin-top:var(--gap_xl);}
.radio_group.flex.col2 .radio_item:nth-child(2n + 1),
.radio_group.flex.col3 .radio_item:nth-child(3n + 1),
.radio_group.flex.col4 .radio_item:nth-child(4n + 1){margin-left:0;}
.radio_group.flex.col2 .radio_item:nth-child(-n + 2),
.radio_group.flex.col3 .radio_item:nth-child(-n + 3),
.radio_group.flex.col4 .radio_item:nth-child(-n + 4){margin-top:0;}

.radio_item{position:relative;}

/* radio dot */
.radio_item.dot input{position:absolute; left:0; top:0; width:100%; height:100%; padding:0; border:0;}
.radio_item.dot label{position:relative; display:block; font-size:1.6rem; line-height:1.4; padding-left:2.8rem;}
.radio_item.dot label::before{content:''; position:absolute; left:0; top:0.1rem; display:block; width:2rem; height:2rem; border-radius:2.4rem; border:2px solid #ccc; background:#ccc; box-shadow:inset 0 0 0 3px rgba(255,255,255, 1); box-sizing:border-box;}
.radio_item.dot input:disabled + label{color:#999;}
.radio_item.dot input:disabled + label::before{opacity:0.5}
.radio_item.dot input:checked + label::before{border-color:#ffcc00; background-color:#ffcc00;}
.radio_item.dot label em{font-size:1.3rem;}
/* radio box */
.radio_item.box{margin-top:-1px;}
.radio_item.box input{position:absolute; left:0; top:0; width:100%; height:100%; padding:0; border:0; outline:none;}
.radio_item.box label{position:relative; display:block; height:4.8rem; line-height:4.8rem; font-size:1.6rem; border:1px solid #ccc; text-align:center;}
.radio_item.box input:disabled + label{border-color:#ebeef0; background-color:#f7f7f8; color:#aab0b8;}
.radio_item.box input:checked + label{border-width:2px; line-height:4.4rem; border-color:#484b51; font-weight:700; color:#222; z-indeX:2;}
.radio_group.col2:not([class*=gap_]) .radio_item.box{margin-left:-1px;}
.radio_group.col2:not([class*=gap_]) .radio_item.box:nth-child(2n+1){margin-left:0;}
.radio_group.col2:not([class*=gap_]) .radio_item.box:nth-child(2n+2) label{margin-right:-1px;}
.radio_group.col3:not([class*=gap_]) .radio_item.box{margin-left:-1px;}
.radio_group.col3:not([class*=gap_]) .radio_item.box:nth-child(3n+1){margin-left:0;}
.radio_group.col3:not([class*=gap_]) .radio_item.box:nth-child(3n+3) label{margin-right:-2px;}
.radio_group.col4:not([class*=gap_]) .radio_item.box{margin-left:-1px;}
.radio_group.col4:not([class*=gap_]) .radio_item.box:nth-child(4n+1){margin-left:0;}
.radio_group.col4:not([class*=gap_]) .radio_item.box:nth-child(4n+4) label{margin-right:-3px;}

/* radio etc */
.radio_group.type_check{display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; margin:-4px;}
.radio_group.type_check .radio_item{flex:1 1 50%; max-width:calc(50% - 8px); margin:4px;}
.radio_group.type_check .radio_item input{position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; padding:0; border:0; overflow:hidden; white-space:nowrap;}
.radio_group.type_check .radio_item label{display:block; text-align:center; font-size:1.6rem; border:1px solid #ddd; border-radius:0.8rem; padding:4rem 0 3.6rem;}
.radio_group.type_check .radio_item label span{display:block;}
.radio_group.type_check .radio_item label em{font-size:1.4rem; color:#777;}
.radio_group.type_check .radio_item:nth-child(1) label::before{content:''; display:block; margin:0 auto 1rem; width:4rem; height:4rem; background:#ddd;}
.radio_group.type_check .radio_item:nth-child(2) label::before{content:''; display:block; margin:0 auto 1rem; width:4rem; height:4rem; background:#ddd;}
.radio_group.type_check .radio_item:nth-child(3) label::before{content:''; display:block; margin:0 auto 1rem; width:4rem; height:4rem; background:#ddd;}
.radio_group.type_check .radio_item:nth-child(4) label::before{content:''; display:block; margin:0 auto 1rem; width:4rem; height:4rem; background:#ddd;}
.radio_group.type_check .radio_item input:checked + label{border:2px solid #ffcc00; padding:3.9rem 0 3.5rem; box-shadow:0 2px 8px 0 rgba(0,0,0, 0.1); font-weight:700; color:#222;}