ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.wrap-tab-list {
    position: relative;
    z-index: 0;
    font-size: 0;
    line-height: 0;
    .tab-list {
        & + .tab-list {
            margin-left: -1px;
        }
        &.active {
            border-color: orange;
            border-bottom: 1px solid #fff;
            z-index: 10;
            .tab-button {
                font-weight: bold;
            }
        }
        display: inline-block;
        position: relative;
        z-index: 0;
        border: 1px solid #ccc;
        border-bottom: 0;
        .tab-button {
            display: block;
            height: 40px;
            padding: 0 10px;
            font-size: 16px;
            border: 0;
            background-color: #fff;
        }
    }
}

.wrap-tab-contents {
    max-width: 500px;
    width: 100%;
    border: 1px solid orange;
    margin-top: -1px;
    .tab-contents {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}
.wrap-tab-container {
    & + .wrap-tab-container {
        margin-top: 30px;
    }
}
